:root {
  font-size: calc(0.65rem + 0.25vw);
}
html {
    /*
     * Lato, Liberation Sans: Linux
     * Segoe UI, Arial: Windows
     * Roboto: Android
     * Arimo: ChromeOS
     * sans-serif: fallback
     */
    font-family: -apple-system, BlinkMacSystemFont,
     'Lato', 'Liberation Sans', 'Segoe UI', 'Arial', 'Roboto', 'Arimo', sans-serif,
     'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 1.5;
}
body {
  margin: 0;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  /* Allowing link wrapping at any point to prevent appearance of horizontal
   scroll due to long links. */
  word-wrap: break-word;
}
.nowrap {
  white-space: nowrap;
}
main {
  width: 100%;
  max-width: 45rem;
  margin: 0rem auto;
  box-sizing: border-box;
}
p {
  margin: 1.4em 0rem;
}
.dinkus {
  /* https://stackoverflow.com/questions/38781089/font-family-monospace-monospace */
  font-family: monospace, monospace;
  font-weight: bold;
}
.ul-header {
  margin-bottom: 0px;
}
ul {
  list-style-type: disc;
  margin-top: 0.5rem;
  padding-left: 1.8rem;
}
ul li {
  margin-bottom: 0.4rem;
}
/* Responsive part */
main {
  padding: 1.0rem 3.0rem;
}
@media (max-width: 830px) {
  main {
    padding: 0.7rem 2.5rem;
  }
}
/* Phone in portrait orientation */
@media (max-width: 430px) {
  main {
    padding: 0.3rem 1.3rem;
  }
}